<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{ bootstrap.load_css() }}
    <title>Edit Rating</title>
</head>

<body>
    <main class="col-4 mx-auto">

        {% from 'bootstrap5/form.html' import render_form %}
        <p>
            Book Name: {{book.title}}
        </p>
        <p>Current Rating: {{book.rating}}</p>
        {{ render_form(form,novalidate=True,
        action=url_for('edit_rating',book_id=book.id),method='post') }}
        {{ bootstrap.load_js() }}
    </main>
</body>

</html>